<footer class="footer_sec__">
  <div class="container">
    <div class="footer_content__">
      <figure class="footer_logo figure__ center">
        <img class="img-om" src="assets/images/logo.svg" alt="..." />
      </figure>
      <ul class="footer_list__ list-unstyled">
        <li><a href="#">Terms and Conditions</a></li>
        <li><a href="#">The privacy of the store</a></li>
        <li><a href="#">Delivery policy</a></li>
        <li><a href="#">call us</a></li>
      </ul>
      <ul class="footer_socials__ list-unstyled">
        <li class="li__">
          <a href="#!" class="link__">
            <img
              class="img-om"
              src="./assets/images/socials/twitter.svg"
              alt=".."
              width=""
              height="" />
          </a>
        </li>
        <li class="li__">
          <a href="#!" class="link__">
            <img
              class="img-om"
              src="./assets/images/socials/snap_chat.svg"
              alt=".."
              width=""
              height="" />
          </a>
        </li>
        <li class="li__">
          <a href="#!" class="link__">
            <img
              class="img-om"
              src="./assets/images/socials/facebook.svg"
              alt=".."
              width=""
              height="" />
          </a>
        </li>
        <li class="li__">
          <a href="#!" class="link__">
            <img
              class="img-om"
              src="./assets/images/socials/what's_up.svg"
              alt=".."
              width=""
              height="" />
          </a>
        </li>
        <li class="li__">
          <a href="#!" class="link__">
            <img
              class="img-om"
              src="./assets/images/socials/instagram.svg"
              alt=".."
              width=""
              height="" />
          </a>
        </li>
      </ul>
      <div class="copyrights_content___">
        <img
          class="copyright_icon__"
          src="./assets/images/shapes/copyright.png"
          alt=".." />

        All rights reserved - design and programming
        <a href="#!">
          <img
            class="copyright_logo__"
            src="./assets/images/shapes/copyrights.svg"
            alt=".." />
        </a>
      </div>
    </div>
  </div>
</footer>