<footer class="footer_sec__">
  <div class="container">
    <div class="row row_modify with_row_gap footer_content__">
      <div class="col-lg-6 col_start__">
        <h3 class="footer_head__">روابط هامة</h3>
        <ul class="footer_list__ list-unstyled">
          <li><a href="#">الرئيسية</a></li>
          <li><a href="#">الإعلانات</a></li>
          <li><a href="#">التسجيل كمشتري</a></li>
          <li><a href="#">المنافسات</a></li>
          <li><a href="#">الأسئلة الشائعة</a></li>
          <li><a href="#">التسجيل كمورد</a></li>
          <li><a href="#">بطاقات الموردين</a></li>
          <li><a href="#">تسجيل الدخول</a></li>
          <li><a href="#">سياسة الإستخدام</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col_start__">
        <h3 class="footer_head__">اتصل بنا أو راسلنا</h3>
        <ul class="footer_contacts list-unstyled">
          <li class="li__">
            <a href="#" class="link__ footer_link__">
              <img class="icon__" src="assets/images/shapes/footer_icons/footer_contacts_call.svg" alt="...">
              <span class="text__">
                +966 058920580
              </span>
            </a>
          </li>
          <li class="li__">
            <a href="#" class="link__ footer_link__">
              <img class="icon__" src="assets/images/shapes/footer_icons/footer_contacts_mail.svg" alt="...">
              <span class="text__">
                info@etamed.com
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col_start__">
        <a href="index.html">
          <img class="footer_logo__" src="assets/images/logo.png" alt="...">
        </a>
        <h3 class="footer_head__">تابعنا من خلال</h3>
        <ul class="footer_socials__ list-unstyled">
          <li class="li__">
            <a href="#!" class="link__">
              <img
              class="img-om"
              src="./assets/images/socials/twitter.svg"
              alt=".."
              width=""
              height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
              class="img-om"
              src="./assets/images/socials/snap_chat.svg"
              alt=".."
              width=""
              height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
              class="img-om"
              src="./assets/images/socials/facebook.svg"
              alt=".."
              width=""
              height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
              class="img-om"
              src="./assets/images/socials/what's_up.svg"
              alt=".."
              width=""
              height="" />
            </a>
          </li>
          <li class="li__">
            <a href="#!" class="link__">
              <img
              class="img-om"
              src="./assets/images/socials/instagram.svg"
                alt=".."
                width=""
                height="" />
              </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="copyrights_content___">
    <img
    class="copyright_icon__"
    src="./assets/images/shapes/copyright.png"
    alt=".." />
    
    جميع الحقوق محفوظة - تصميم وبرمجة
    <a href="#!">
      <img
      class="copyright_logo__"
      src="./assets/images/shapes/copyrights.svg"
      alt=".." />
    </a>
  </div>
</footer>