<header class="main_header__ flow_hidden">
  <div class="top_header">
    <div class="container">
      <div class="top_header_content__ d_flex flex_x_center flex_between_sm">
        <div class="header_contacts__ d_flex">
          <a href="callto:96605095120" class="link__ header_contact_link__">
            <img
              src="assets/images/shapes/header_shapes/head_contact_call_link_icon.svg"
              alt="..." />
            <span class="text__"> +966 05 09 51 20 </span>
          </a>
          <a
            href="mailto:safe2023@info.com"
            class="link__ header_contact_link__">
            <img
              src="assets/images/shapes/header_shapes/head_contact_mail_link_icon.svg"
              alt="..." />
            <span class="text__"> Safe2023@info.com </span>
          </a>
        </div>
        <div class="header_social__ d_flex flex_x_center">
          <span class="title__"> تابعنا من خلال : </span>

          <ul class="header_social_list__">
            <li>
              <a href="#" class="link__ header_socil_links__">
                <img
                  class="icon__"
                  src="assets/images/socials/twitter.svg"
                  alt="" />
              </a>
            </li>
            <li>
              <a href="#" class="link__ header_socil_links__">
                <img
                  class="icon__"
                  src="assets/images/socials/snap_chat.svg"
                  alt="" />
              </a>
            </li>
            <li>
              <a href="#" class="link__ header_socil_links__">
                <img
                  class="icon__"
                  src="assets/images/socials/facebook.svg"
                  alt="" />
              </a>
            </li>
            <li>
              <a href="#" class="link__ header_socil_links__">
                <img
                  class="icon__"
                  src="assets/images/socials/what's_up.svg"
                  alt="" />
              </a>
            </li>
            <li>
              <a href="#" class="link__ header_socil_links__">
                <img
                  class="icon__"
                  src="assets/images/socials/instagram.svg"
                  alt="" />
              </a>
            </li>
          </ul>
        </div>

        <div class="header_lang_wrapper dropdown__">
          <a class="lang_link__ butt__" href="#!">
            <figure class="figure__">
              <img
                class="icon__"
                src="assets/images/shapes/header_shapes/lang_drop_down_icon.svg"
                alt="..." />
            </figure>
            العربية (ar)
          </a>
          <ul class="sub-menu__">
            <li><a href="index.html">العربية</a></li>
            <li><a href="index_en.html">English</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="fixed_header__">
    <div class="container">
      <div class="header_content__">
        <a class="header_logo__" href="index.html">
          <figure class="figure__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>
        </a>

        <nav class="nav-om" id="navbar-menu-om">
          <button class="close-button__"></button>

          <figure class="figure__ nav_logo__">
            <img src="assets/images/logo.svg" alt=".." />
          </figure>

          <ul class="nav-list-om list-unstyled">
            <li class="header_list_item__ active">
              <a href="index.html">الرئيسية</a>
            </li>
            <li class="header_list_item__">
              <a class="">المنافسات</a>
            </li>

            <li class="header_list_item__">
              <a href="maintenance.html">بطاقات الموردين</a>
            </li>
            <li class="header_list_item__">
              <a href="distributors.html">الإعلانات</a>
            </li>
            <li class="header_list_item__">
              <a href="about_us.html">الأسئلة الشائعة</a>
            </li>
          </ul>

          <ul class="toolbar_options__ list-unstyled">
            <li class="block__ dropdown__ info_link_item__ ">
              <a class="info_link_block__ with_arrow_animation" href="#!">
                <figure class="figure__ icon__">
                  <img src="assets/images/shapes/user.svg" alt="" />
                </figure>
                <span class="user_name__">مرحبا, شركة المميز للإلكترونيات</span>
              </a>
              <ul class="sub-menu__">
                <li>
                  <a class="profile__" href="profile.html">
                    البيانات الشخصية
                  </a>
                </li>
                <li>
                  <a class="packages__" href="packages.html">
                    الباقات و الإشتراك
                  </a>
                </li>
                <li>
                  <a class="wallet__" href="add_purchase_order.html">
                    طلبات الشراء
                  </a>
                </li>
                <li>
                  <a class="favorite__" href="favorite.html"> المفضلة </a>
                </li>
                <li>
                  <a class="change_password__" href="register_change_password.html">
                    تغيير كلمة المرور
                  </a>
                </li>
              </ul>
            </li>

            <li class="block__ log_out_item__">
              <button data-toggle="modal" data-target="#log_out-modal" class="button__ log_out_link__">
                <img class="icon__" src="assets/images/shapes/log_out.svg" alt="">
              </button>
            </li>
          </ul>
        </nav>

        <!-- start active nenu button in small sizes  -->
        <button class="menu_button__ button__" id="menu-butt-activ-om">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fas"
            data-icon="bars"
            class="svg-inline--fa fa-bars fa-w-14"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512">
            <path
              fill="currentColor"
              d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path>
          </svg>
        </button>
        <!-- end active nenu button in small sizes  -->
      </div>
    </div>
    <div class="overlay"></div>
  </div>
</header>
