<!-- Add To Fav -->

<div
  class="modal fade deal_modal_report"
  id="add_to_fav-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal_block__">
        <figure class="figure__ icon__ center loading-omd">
          <img
            class="img-om lazy-omd"
            data-src="assets/images/modal/add_fav.svg"
            alt="..." />
        </figure>
        <h2 class="title__">أضف إلى المفضلة</h2>
        <p class="sub_title__">تم إضافة الإعلان إلى مفضلتك</p>

        <button
          type="button"
          class="button__ close_modal_button"
          data-dismiss="modal"
          aria-label="Close">
          <img
            class="close_modal_img"
            src="assets/images/shapes/close_modal_button.svg"
            alt="" />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Report Modal -->

<div
  class="modal fade deal_modal_report"
  id="report-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal_block__">
        <figure class="figure__ icon__ center loading-omd">
          <img
            class="img-om lazy-omd"
            data-src="assets/images/modal/report.svg"
            alt="..." />
        </figure>
        <h2 class="title__">الإبلاغ عن الإعلان</h2>
        <p class="sub_title__">قم بكتابة سبب الإبلاغ عن هذا الإعلان</p>
        <div class="input_group__">
          <input type="text" class="input__" placeholder="اكتب سبب الإبلاغ" />
        </div>
        <button class="button__ submit-button__ full_width__">إرسال</button>

        <button
          type="button"
          class="button__ close_modal_button"
          data-dismiss="modal"
          aria-label="Close">
          <img
            class="close_modal_img"
            src="assets/images/shapes/close_modal_button.svg"
            alt="" />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Report Modal -->

<div
  class="modal fade deal_modal_report"
  id="accept_offer-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal_block__">
        <figure class="figure__ icon__ center loading-omd">
          <img
            class="img-om lazy-omd"
            data-src="assets/images/modal/accept_offer.svg"
            alt="..." />
        </figure>
        <h2 class="title__">قبول العرض</h2>
        <p class="sub_title__">هل أنت موافق على عرض هذا المورد ؟</p>

        <button class="button__ submit-button__ green_bg_button full_width__">
          تأكيد قبول العرض
        </button>

        <button
          type="button"
          class="button__ close_modal_button"
          data-dismiss="modal"
          aria-label="Close">
          <img
            class="close_modal_img"
            src="assets/images/shapes/close_modal_button.svg"
            alt="" />
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Send Offer Modal -->

<div
  class="modal fade deal_modal_report"
  id="send_offer-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal_block__">
        <figure class="figure__ icon__ center loading-omd">
          <img
            class="img-om lazy-omd"
            data-src="assets/images/modal/send_offer.svg"
            alt="..." />
        </figure>
        <h2 class="title__">إرسال عرض على الطلب</h2>
        <p class="sub_title__">قم بإرسال تفاصيل عرضك على هذا الطلب</p>

        <div class="input_group__">
          <input type="number" class="input__" placeholder="تكلفة عرضك" />
        </div>
        <div class="input_group__">
          <textarea
            class="textarea-om input__"
            placeholder="تفاصيل إضافية"></textarea>
        </div>

        <div class="input_group__">
          <label for="uploadFile" class="upload_photo__ with_margin_bottom">
            <div class="img_wrapper__">
              <figure class="figure__">
                <img class="img-om" src="" alt="..." />
              </figure>
            </div>

            <div class="text_wrapper">
              <h3 class="title__">ملف تفاصيل العرض</h3>

              <h4 class="sub_title__">قم بإرفاق ملف لتفاصيل العرض</h4>
            </div>
            <input type="file" id="uploadFile" class="file_input__" />
          </label>
        </div>

        <button class="button__ submit-button__ full_width__">إرسال</button>

        <button
          type="button"
          class="button__ close_modal_button"
          data-dismiss="modal"
          aria-label="Close">
          <img
            class="close_modal_img"
            src="assets/images/shapes/close_modal_button.svg"
            alt="" />
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modify Offer Modal -->

<div
  class="modal fade deal_modal_report"
  id="modify_offer-modal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal_block__">
        <figure class="figure__ icon__ center loading-omd">
          <img
            class="img-om lazy-omd"
            data-src="assets/images/modal/send_offer.svg"
            alt="..." />
        </figure>
        <h2 class="title__">إرسال عرض على الطلب</h2>
        <p class="sub_title__">قم بإرسال تفاصيل عرضك على هذا الطلب</p>

        <div class="input_group__">
          <input
            type="number"
            class="input__"
            placeholder="تعديل عرض على الطلب" />
        </div>
        <div class="input_group__">
          <textarea
            class="textarea-om input__"
            placeholder="تفاصيل إضافية"></textarea>
        </div>

        <button class="button__ submit-button__ full_width__">إرسال</button>

        <button
          type="button"
          class="button__ close_modal_button"
          data-dismiss="modal"
          aria-label="Close">
          <img
            class="close_modal_img"
            src="assets/images/shapes/close_modal_button.svg"
            alt="" />
        </button>
      </div>
    </div>
  </div>
</div>
