// .radio-om {
//     cursor          : pointer;
//     margin          : 0;
//     padding         : 0;
//     width           : 16px;
//     height          : 16px;
//     background-color: #fff;
//     border          : 1px solid #e8e8e8;
//     opacity         : 0.4;

//     &:checked {
//         opacity: 1;
//     }
// }

.radio-group-om {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  .radio-om {
    opacity: 0 !important;
    visibility: hidden !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    &:checked {
      + .radio-label-om {
        border-color: $primaryColor;
        background-image: url(../images/shapes/check.svg);
        background-color: $primaryColor;
      }
      ~ .text__ {
        color: $primaryColor !important;
        font-weight: 700;
      }
    }
  }

  .radio-label-om {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 2px solid #86959F;
    background-position: center center;
    background-size: 10px;
    background-repeat: no-repeat;
  }

  .text_ {
    margin: 0;
    font-size: 15px;
    margin-inline-start: 5px;
    font-weight: 500;
    cursor: pointer;
    color: $headingMainColor;
  }

  .radio_title__ {
    font-size: 1.4rem;
    font-weight: 700;
    color: $paragraphMainColor;
    margin-bottom: 10px;
  }
  
  .radio_description__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
  }
}
