.consultation_request_page {
  .parag_block__{
    &:not(:last-child) {
      margin-bottom: 30px;

    }
  }

  .main_parag__,
  .parag__ {
    font-size: 1.4rem;
    font-weight: 500;
    color: $headingMainColor;
    line-height: 2.1;
    margin-bottom: 10px;
  }

  .parag__ {
    color: $paragraphMainColor;
    font-weight: 400;
    margin: 0;
  }
}