.intro_section {
  position: relative;
  overflow: hidden;

  .swiper {
    position: relative;
  }

  // .swiper-slide {
    // background: linear-gradient(
    //   -90deg,
    //   $primaryColor 0 74.794%,
    //   $secondaryColor 74.794% 100%
    // );
    // background-image: url('../images/intro/slider_background.png') ;
    
  // }
  
  .image_slider {
    min-height: 555px;
    border-radius: $mainBorderRadius;
    padding: 0 40px;
    padding-inline-start: 90px;
    padding-top: 75px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include xs {
      min-height: 380px;
      padding: 35px 20px;
    }
  }

  .figure__ {
    padding-bottom: 94.117%;
  }

  .title__ {
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.8;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    max-width: 390px;
    opacity: 0.68;
    margin-bottom: 30px;
  }
}

.about_us_section {
  .figure__ {
    padding-bottom: 70.27%;
  }

  .main_parag__ {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: $headingSecondaryColor;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphMainColor;
  }
}

.create_competitions_section {
  .steps_list {
    // display: flex;
    // align-items: flex-start;
    // justify-content: space-between;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 130px;

    @include xs {
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      row-gap: 20px;
      margin-bottom: 70px;
    }
  }
}

.rating_section {
  .rating_content {
    background-color: $secondaryColor;
    padding: 50px 0;
    border-radius: $mainBorderRadius;
    background-image: url("../images/shapes/rating_section_background.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  .icon__ {
    margin-bottom: 18px;
  }

  .title__ {
    font-size: 2.3rem;
    font-weight: 900;
    color: #fff;
    margin-bottom: 12px;
    text-align: center;
  }

  .sub_title__ {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-bottom: 16px;
  }
}

.contact_us_section {
  position: relative;
  overflow-x: hidden;
  overflow-y: clip;

  .icon__ {
    max-width: 320px;
    max-height: 320px;
    padding-bottom: 0;
    margin: 0 auto;
  }

  &::after {
    content: "";
    position: absolute;
    width: 971px;
    height: 273px;
    transform: rotate(-30deg);
    background-color: rgba($secondaryColor, 0.1);
    top: 0;
    inset-inline-start: -251px;
    border-radius: 137px;

    @include xs {
      inset-inline-start: -625px;
      top: -150px;
    }
  }
}
