.product_single_page {
  .slider_figure__ {
    padding-bottom: 69.02%;
    overflow: hidden;
    border-radius: $mainBorderRadius;

    .img-om {
      width: 100%;
      height: 100%;
    }
    
    &::after {
      position: absolute;
      border-radius: $mainBorderRadius;
      content: "";
      background: linear-gradient(0 , $primaryColor , transparent);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .swiper-pagination {
    margin-top: -37px;
    margin-bottom: 15px;
    position: relative;
    z-index: 999;
  }

  .head_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title__ {
    color: $headingThirdColor;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2.3rem;
  }

  .sub_title__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 15px;
  }

  .info_wrapper__ {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 15px;

    .info__  {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 300;
      gap: 8px;

      .title__ {
        font-size: 1.2rem;
        font-weight: 300;
        color: $paragraphMainColor;
        margin-bottom: 0px;
        display: block;
      }

      .info_text__ {
        font-size: 1.4rem;
        font-weight: 300;
        color: $headingMainColor;
      }

      &.company_name__ {
        .icon__ {
          min-width: 38px;
          max-width: 38px;
        }
      }
    }
  }

  .price__ {
    font-size: 2.4rem;
    margin-bottom: 25px;
    font-weight: 500;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    max-width: 100% !important;
  }
}
