.request_single_page {
  .title__ {
    font-size: 2.3rem;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 28px;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    line-height: 1.9;
  }

  .request_info_wrapper__ {
    display: flex;
    align-items: center;
    gap: 30px;

    .info__ {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.4rem;
      font-weight: 300;
      color: $headingMainColor;

      .text__ {
        font-weight: 500;
      }
    }

    .company_name {
      padding: 12px 20px;
      font-size: 1.4rem;
      border-radius: $mainBorderRadius;
      background-color: rgba($primaryColor , 0.04);
    }
  }

  .suppliers_offers_block_wrapper__ {
    .block_title__ {
      font-size: 1.8rem;
      font-weight: 400;
      color: $headingMainColor;
      margin-bottom: 70px;
      display: flex;
      align-items: center;
      gap: 8px;

      @include xs {
        margin-bottom: 30px;
      }
    }
  }
}