.suppliers_card:hover .img-om {
  transform: scale(1.2);
}

.suppliers_card .figure__ {
  border-radius: 50%;
  overflow: hidden;
  width: 92px;
  height: 92px;
}

.product_card .title__,
.product_card .parag__,
.product_single_page .title__,
.product_single_page .parag__ {
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ads_page .row,
.purchase_orders_page .row {
  align-items: unset;
}

.product_card,
.latest_competitions_card {
  height: 100%;
}

.latest_competitions_card .button__ {
  margin-top: auto;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.page-item {
  margin: 0 5px;
  list-style: none;
}

.page-link {
  display: block;
  width: 30px !important;
  height: 30px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px 12px !important;
  background-color: transparent;
  color: #17355A !important;
  text-decoration: none;
  border-radius: 4px; 
  transition: 0.3s;
}

.page-link:hover {
  background-color: #f2f2f2;
}

.page-item.active .page-link {
  background-color: #17355A !important;
  color: #fff !important;
}
.page-item.active .page-link:hover {
  background-color: rgba(#17355A, 0.85) !important;
}

.page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}

.page-item.disabled .page-link:hover {
  background-color: #f2f2f2;
}

.mixitup_controls_wrapper__ {
  justify-content: unset !important;
}

.info_wrapper__ .company_name__ .icon__{
  border-radius: 50%;
  overflow: hidden;
  min-width: 35px !important;   
  min-height: 35px !important;
  max-width: 35px !important;  
  max-height: 35px !important;
  aspect-ratio: 1 / 1 !important;
}