.button__ {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  transition: 0.5s;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &.center {
    margin: 0 auto;
  }
  
  &.default_cursor {
    cursor: default !important;
  }

  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.filter_white_icon__ {
    .icon__ {
      filter: brightness(0) invert(1);
    }

    &:hover {
      .icon__ {
        filter: unset;
      }
    }
  }

  &.green_bg_button {
    background-color: $greenColor !important;
    border: 1px solid $greenColor !important;
    color: #fff;
    
    &:hover {
      background-color: transparent !important;
      color: $greenColor !important;
    }
  }

  &.red_bg_button {
    background-color: $mainRedColor !important;
    border: 1px solid $mainRedColor !important;
    color: #fff;
    
    &:hover {
      background-color: transparent !important;
      color: $mainRedColor !important;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.half_width__ {
    width: 50%;
  }

  &.fixed_size__ {
    min-width: 168px;
    max-width: 168px;
  }
  
  &.second_fixed_width {
    min-width: 188px;
    max-width: 188px;

  }

  &.margin_top__ {
    margin-top: 40px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.small_margin_top__ {
    margin-top: 20px;

    @include xs {
      margin-top: 10px;
    }
  }

  &.scale_icon_on_hover {
    &:hover {
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &:focus {
    border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
  }

  &.submit-button__,
  input[type="submit"] {
    height: 46px;
    color: #fff;
    padding: 0 20px;
    font-size: 1.4rem;
    background-color: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.registration_submit_button__ {
    width: 260px;
  }

  &.second_color_button__ {
    width: 168px;
    height: 46px;
    background-color: $secondaryColor;
    color: #fff;
    font-weight: 400;
    border-radius: $secondaryBorderRadius;
    border: 1px solid $secondaryColor;

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }

  &.fav_add_button {
    &.active,
    &:focus {
      .icon__ {
        path {
          fill: #F0053C;
          stroke: #F0053C;
        }
      }
    }

    &:hover {
      .icon__ {
        path {
          fill: rgba(#F0053C, 0.2);
        }
      }
    }
  }

  &.add_comment_button {
    width: 188px;
    font-size: 1.4rem;
    font-weight: 400;
  }

  &.price_button__ {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $greyColor;
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingMainColor;
    // width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    min-width: fit-content;
  }

  &.delete_file_button__ {
    background-color: $mainRedColor;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    position: relative;
    content: url(../images/shapes/delete_file_icon.svg);
    padding: 5px;
    
    // &::after {
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   width: 13px;
    //   height: 13px;
    // }
    
    &:hover {
      background-color: rgba($mainRedColor , 0.8);
    }
  }

  &.send_offer_button__ {

    &:hover {
      background-color: transparent;
      border: 1ox solid $secondaryColor;
      color: $secondaryColor;
    }
  }
}
