.link__ {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  gap: 10px;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
  }

  &.center {
    margin: 0 auto;
  }

  &.full_width__ {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_sm__ {
    @include sm {
      min-width: 100%;
      width: 100%;
    }
  }

  &.full_width_xs__ {
    @include xs {
      min-width: 100%;
      width: 100%;
    }
  }

  &.fixed_size__ {
    min-width: 140px;
  }

  &.main_link {
    height: 46px;
    color: #fff;
    padding: 0 30px;
    font-size: 1.4rem;
    background: $primaryColor;
    border-radius: $mainBorderRadius;
    
    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }
  
  &.second_color_link__ {
    height: 46px;
    border-radius: $mainBorderRadius;
    padding: 0 30px;
    background-color: $secondaryColor;
    color: #fff;
    
    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }

    &.bordered__ {
      background-color: transparent;
      color: $secondaryColor;
      border: 1px solid $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1);
      }
    }
  }

  &.header_contact_link__ {
    text-decoration: none;
    color: $secondaryColor;
    position: relative;
    gap: 5px;
    font-size: 1.3rem;
    font-weight: 700;
    flex-shrink: 0;

    .text__ {
      direction: ltr;
    }

    @include xxs {
      margin: 0 !important;
      padding: 0 !important;
    }

    &:not(:last-of-type) {
      padding-inline-end: 15px;
      margin-inline-end: 15px;

      &::after {
        content: "";
        position: absolute;
        inset-inline-end: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 17px;
        background-color: rgba($secondaryColor, 0.4);
        border-radius: $secondaryColor;

        @include xxs {
          display: none !important;
        }
      }
    }

    &:hover {
      filter: brightness(0);
    }
  }

  &.header_socil_links__ {
    width: 40px;
    height: 40px;
    background-color: $greyColor;
    border-radius: 50%;

    @include sm {
      width: 30px;
      height: 30px;
    }

    .icon__ {
      max-width: 12px;
      max-height: 12px;
    }

    &:hover {
      background-color: #1d2020;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }

  &.intro_swiper_link__ {
    background-color: $secondaryColor;
    width: fit-content;
    color: #fff;
    padding: 15px 40px;
    height: 46px;
    border-radius: $secondaryBorderRadius;
  }

  &.footer_link__ {
    background-color: rgba($secondaryColor, 0.07);
    border-radius: $mainBorderRadius;
    justify-content: flex-start;
    gap: 10px;
    padding: 5px 25px;
    height: 36px;
    color: $secondaryColor;

    .icon__ {
      margin: 0;
    }

    .text__ {
      direction: ltr;
    }

    &:hover {
      background-color: $secondaryColor;
      color: #fff;


      .icon__ {
        filter: brightness(0)invert(1);
      }
    }
  }

  &.sign_up_link__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $secondaryColor;

    &:hover {
      color: $primaryColor;
    }
  }

  &.suppliers_card_call_link__,
  &.suppliers_card_mail_link__ {
    font-size: 1.6rem;
    font-weight: 400;
    color: $secondaryColor;
    height: 41px;
    width: 100%;
    border-radius: $mainBorderRadius;
    padding: 10px 20px;
    background-color: rgba($secondaryColor, 0.1);
    
    .icon__ {
      margin: 0;
    }
    
    &:hover {
      background-color: rgba($secondaryColor, 1);
      color: #fff;
      
      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  } 

  &.single_product_page_link__ {
    font-size: 1.6rem;
    font-weight: 400;
    height: 41px;
    width: 100%;
    max-width: 201px;
    border-radius: $mainBorderRadius;
    padding: 10px 20px;
    color: $greenColor;
    background-color: rgba($greenColor, 0.1);
    
    
    .icon__ {
      margin: 0;
    }
    
    &:hover {
      background-color: rgba($greenColor, 1);
      color: #fff;
      
      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  } 

  &.suppliers_card_call_link__ {
    color: $greenColor;
    background-color: rgba($greenColor, 0.1);
    width: calc(100% - 26px);
    margin: 0 auto;
    margin-bottom: 15px;

    &.none_margin {
      margin: 0 !important;
    }

    
    &:hover {
      background-color: rgba($greenColor, 1);
    }
  }

  &.suppliers_offer_card_download_file_link {
    background-color: rgba($secondaryColor, 0.08);
    font-size: 1.2rem;
    font-weight: 400;
    color: $secondaryColor;
    height: 42px;
    border-radius: 12px;
    padding: 10px 15px;
    gap: 5px;
    
    &:hover {
      background-color: rgba($secondaryColor, 1);
      color: #fff;

      .icon__ {
        filter: brightness(0) invert(1);
      }
    }
  }
}
