// Main colors
$primaryColor: #17355A;
$secondaryColor: #1AAEC8;
$greyColor: rgba(#9B9B9B , 0.16);
$greenColor: #00CC30;
$secondGreyColor: #9B9B9B;
$mainRedColor: #F0053C;
$orangeColor: #EFB104;

$borderColor: rgba(#363443 , 0.28);
$mainBackgroundColor: #f2f3fc;
$borderBreakColor: #d9e0e5;

// Head colors
$headingMainColor: #2D2D2D;
$headingSecondaryColor: #394444;
$headingThirdColor: #17355A;

// Paragraph Colors
$paragraphMainColor: rgba(#394444 , 0.75);
$paragraphSecondaryColor: #9B9B9B;

//Brands Colors
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

//Border radius
$mainBorderRadius: 26px;
$secondaryBorderRadius: 36px;
$thirdBorderRadius: 20px;

$dir: "ltr";
