.accepted_offer_card {
  max-width: 460px;
  margin: 0 auto;

  .img_wrapper__ {
    width: 122px;
    height: 122px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .figure__ {
    min-width: 100%;
    padding-bottom: 100%;
  }

  .title__ {
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    color: $headingMainColor;
    text-align: center;
    margin-bottom: 8px;
  }

  .order_status {
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 30px;
  }

  .price_sub_title_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .parag__ {
    font-size: 1.4rem !important;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 25px;
  }
  
}