.account_type_radio_group {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  width: 100%;
  
  input[type="radio"] {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;

    &:checked + .text__ {
      font-weight: 700;
      background-color: $primaryColor;
      color: #fff;

      &::before {
        content: '\f00c';
        font-weight: 900;
        color: #fff;
        font-size: 2rem;
        font-family: "Font Awesome 5 Free";
        margin-inline-end: 10px;
      }
    }
  }

  .text__ {
    width: 100%;
    border: 1px solid $primaryColor;
    padding: 1rem 2.5rem;
    border-radius: $mainBorderRadius;
    font-size: 1.6rem;
    font-weight: 500;
    color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}