.comment_card__ {
  padding: 27px 37px;
  border-radius: $mainBorderRadius;
  box-shadow: 0 0 30px rgba(#acacac, 0.1);

  .head_wrapper__ {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
  }

  .figure__ {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    img {
      max-width: 50px;
      min-width: 50px;
    }
  }

  .card_title__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 10px;
  }

  .data__ {
    font-size: 1.3rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 8px;

    .icon__ {
      max-width: 15px;
      max-height: 15px;
    }
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphMainColor;
    margin: 0;
  }
}