.comment_head_wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;

  .icon__ {
    max-width: 24px;
    max-height: 24px;
  }

  .title_wrapper__ {
    display: flex;
    align-items: center;
    gap: 8px;

    .title__ {
      font-size: 1.8rem;
      font-weight: 400;
      color: $headingMainColor;
      margin: 0;
    }
  }
}