.create_competitions_step {
  display: flex;
  flex-direction: column;
  width: 100%;

  .number__ {
    margin: 0 auto;
    background-color: $secondaryColor;
    // width: 60px;
    // height: 60px;
    width: 30%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: 2.9rem;
    font-weight: 900;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include sm {
      font-size: 2rem;
    }
    
    @include xs {
      font-size: 1.6rem;
    }
    
    @include xxs {
      font-size: 1.2rem;
    }

  }

  .icon_wrapper__ {
    background-color: rgba($primaryColor , 0.04);
    // width: 164px;
    // height: 164px;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 23px;
    margin-top: -33px;
    
    @include sm {
      margin-top: -20px;
    }
    
    @include xs {
      margin-bottom: 13px;
      margin-top: -15px;
    }
    
    @include xxs {
      margin-bottom: 8px;
      // margin-top: -5px;
    }
  }
  .icon__ {
    width: 50%;
    justify-content: center;
  }
  
  .title__ {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: $headingMainColor;
    
    @include sm {
      font-size: 1.3rem;
    }
  }
}