.create_competitions_sign_up_card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 70px 36px;
  border-radius: $mainBorderRadius;
  background-color: rgba($primaryColor , 0.03);

  .icon__ {
    margin-bottom: 30px;
  }

  .title__ {
    font-size: 2.9rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .parag__ {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 35px;
  }

  &:hover {
    text-decoration: none;
  }

  &.dark__ {
    background-color: $primaryColor;

    .icon__ {
      filter: brightness(0) invert(1);
    }

    .title__ {
      color: #fff;
    }

    .parag__ {
      color: rgba(#fff, 0.66);
    }
  }
}
