.filter_form_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 50px;

  @include xs {
    margin-bottom: 20px;
  }

  @include xs {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  
  .icon__ {
    flex-shrink: 0;
    max-width: 24px;
    max-height: 24px;
  }
  
  .title_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-inline-end: 30px;
  }

  .title__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingMainColor;
    min-width: 70px;
  }

  .input__ {
    width: 100%;
  }

  .select_input_group__ {
    min-width: 260px;
    
    @include sm {
      min-width: fit-content;
    }
    
    @include xs {
      min-width: 100%;
    }
  }
}