.latest_competitions_card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(#acacac, 0.16);
  border-radius: $mainBorderRadius;
  padding: 30px 15px;
  transition: 0.5s;

  .head_wrapper__ {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .title__ {
    font-size: 1.6rem;
    font-weight: 600;
    color: $headingMainColor;
    margin-bottom: 20px;
  }
  
  .company_name {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    color: $headingMainColor;
    padding: 10px 15px;
    border-radius: $mainBorderRadius;
    background-color: rgba($primaryColor, 0.04);
    margin-bottom: 15px;
  }
  
  .parag__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    margin-bottom: 20px;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card_info__ {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    column-gap: 35px;
    margin-bottom: 25px;
  }
  .info__ {
    font-size: 1.6rem;
    font-weight: 300;
    color: $headingMainColor;
    display: flex;
    align-items: center;
    gap: 5px;
  } 
  
  .data_info__ {
    width: 100%;
  }
  
  &:hover {
    text-decoration: none;
    box-shadow: 0 0 30px rgba(#acacac, 0.76);
  }
}
