.no_data_block__ {
  margin: 0 auto;
  max-width: 220px;

  .figure__ {
    margin-bottom: 20px;
  }

  .no_data_title__ {
    font-size: 1.8rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .parag__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
    text-align: center;
  }
}