.order_request_images_wrapper__ {
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  gap: 5px;

  .figure__ {
    padding-bottom: 101.20%;
    border-radius: $thirdBorderRadius;
    overflow: hidden;
  }
}