.order_status {
  display: flex;
  flex-direction: column;

  .order_title__ {
    font-size: 1.6rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 10px;
  }

  .status_info__ {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingMainColor;
  }

  .icon__ {
    &.timer_icon__ {
      animation: rotating 2s infinite;
    }
  }

  &.accepted__ {
    .status_info__ {
      color: $greenColor !important;
    }
  }

  &.with_margin_bottom {
    margin-bottom: 30px;

    @include xs {
      margin-bottom: 15px;
    }
  }
  
  &.purchase_order_card_status {
    .order_title__ {
      font-size: 1.4rem;
      color: $primaryColor;
    }

    .status_info__ {
      font-weight: 300;
    }
  }

}
