.package_card__ {
  background-color: $greyColor;
  border-radius: $mainBorderRadius;
  padding: 45px 40px;

  .title__ {
    font-size: 1.5rem;
    font-weight: 600;
    color: $primaryColor;
    text-align: center;
    margin-bottom: 37px;

    @include sm {
      margin-bottom: 20px;
    }

    @include xs {
      margin-bottom: 10px;
    }
  }

  .package_details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
  }

  .block_wrapper__ {
    padding-inline-start: 15px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset-inline-start: 0px;
      top: 10px;
      height: calc(100% - 28px);
      width: 4px;
      border-right: 1px dashed rgba($primaryColor, 0.51);
      
      @include dir {
        inset-inline-start: -4px;
      }
    }

    &.oreder_limit_block__ {
      border-color: $primaryColor;
    }
  
    &.price_block__ {
      border-color: $secondaryColor;
  
      .block_title__ {
        max-width: 30px;
  
        &::before {
          background-color: $secondaryColor;
        }
      }
  
      .info__ {
        &::before {
          border-color: rgba($secondaryColor, 0.51);
        }
      }
  
      &::before {
        border-color: rgba($secondaryColor, 0.51);
      }
    }
  }

  .block_title__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $headingMainColor;
    margin-bottom: 26px;
    position: relative;
    max-width: 77px;
    line-height: 1.9;

    &::before {
      content: "";
      position: absolute;
      // top: 50%;
      // transform: translateY(-50%);
      top: 6px;
      inset-inline-start: -20px; // block_wrapper__ padding + this shape half width
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $primaryColor;
    }
  }

  .info__ {
    font-size: 2rem;
    font-weight: 600;
    color: $headingMainColor;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset-inline-end: 100%;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      width: 15px;
      border-bottom: 1px dashed rgba($primaryColor, 0.51);
    }
  }

  .price__ {
    font-size: 2.2rem;
    font-weight: 600;
    color: $secondaryColor;
  }


  &.user_subscription_package {
    max-width: 720px;
    margin: 0 auto;

    .block_title__ {
      max-width: 131px;
    }
  }
}
