
// .pagination {
//   margin-top: 50px;
//   justify-content: center;
//   align-items: center !important;

//   .page-link {
//     background-color: transparent !important;
//     border: 0 !important;
//     padding: 0 !important;
//     font-size: 16px;
//     font-weight: 500;
//     color: #000;
//   }

//   .previous_page_item,
//   .next_page_item {
//     .page-link {
//       background-color: transparent !important;
//       border: 0 !important;
//       font-size: 16px;
//       font-weight: 600;
//       color: #000;
//     }

//     &.disabled {
//       .page-link {
//         color: $paragraphMainColor !important;
//         font-weight: 400;
//       }
//     }
//   }

//   .number_wrapper__ {
//     display: flex;
//     margin: 0 30px;
//     border: 1px solid $primaryColor;
//     border-radius: $secondaryBorderRadius;
//     overflow: hidden;

//     @include xs {
//       flex-wrap: wrap;
//       justify-content: space-between;
//       width: fit-content;
//     }

//     .page-item {
//       .page-link {
//         width: 54px;
//         height: 46px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         border-radius: 7px !important;

//         &:hover {
//           background-color: rgba($primaryColor, 0.1) !important;
//         }
//       }

//       &.active {
//         .page-link {
//           background-color: $primaryColor !important;
//           color: #fff !important;

//           &:hover {
//             background-color: rgba($primaryColor, 0.9) !important;
//           }
//         }
//       }
//     }
//   }
// }



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
  list-style: none;
}

.page-link {
  display: block;
  width: 20px !important;
  text-align: center;
  padding: 8px 12px !important;
  background-color: transparent;
  color: $headingMainColor !important;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.page-link:hover {
  background-color: #f2f2f2;
}

.page-item.active .page-link {
  background-color: $primaryColor !important;
  color: #fff !important;

  &:hover {
    background-color: rgba($primaryColor, 0.85) !important;
  }
}

.page-item.disabled .page-link {
  pointer-events: none;
  opacity: 0.5;
}

.page-item.disabled .page-link:hover {
  background-color: #f2f2f2;
}

