.product_card {
  box-shadow: 0 0 30px rgba(#ACACAC , 0.16);
  display: flex;
  flex-direction: column;
  border-radius: $mainBorderRadius;
  flex-direction: row-reverse;

  .img_wrapper__ {
    min-width: 150px;
    min-width: 52%;
  }

  .figure__ {
    padding-bottom: 39.5817%;
    width: 100%;
    border-radius: $mainBorderRadius;
    overflow: hidden;
    height: 100%;
  }

  .description_wrapper__ {
    padding: 18px 16px 25px;
    width: 100%;

    @include xs {
      padding: 10px 10px 15px;
    }

    .head_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 18px;

      @include xs {
        margin-bottom: 8px;
      }
    }

    .title__ {
      font-size: 1.6rem;
      font-weight: 700;
      color: $headingMainColor;
      cursor: pointer;
    }

    .parag__ {
      font-size: 1.4rem;
      font-weight: 300;
      color: $paragraphMainColor;
      margin-bottom: 10px;
    }

    .location_title__ {
      display: flex;
      align-items: center;
      gap: 8px;
      font-size: 1.4rem;
      font-weight: 500;
      color: $headingMainColor;
      margin-bottom: 15px;

      @include xs {
        .icon__ {
          max-width: 15px;
          margin-bottom: 7px;
        }
        
      }
    }
  }

  .price__ {
    @include xs {
      font-size: 1.6rem;
    }
  }
  
  &:hover {
    .img-om {
      transform: scale(1.1);
    }

    .title__ {
      text-decoration: none;
      color: $secondaryColor;
    }
  }
}