.progress_date_wrapper__ {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .date_wrapper__ {
    span {
      display: block;
    }

    .icon__ {
      max-width: 17px;
      max-height: 17px;
    }

    .date_title__ {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-bottom: 3px;
      font-size: 1.4rem;
      font-weight: 300;
      color: $paragraphMainColor;
    }

    .date_info {
      font-size: 1.4rem;
      font-weight: 400;
      color: $paragraphMainColor;
      letter-spacing: 1px;
    }
  }
}

.progress_bar_wrapper__ {
  background-color: #EAEAEA;
  height: 9px;
  margin-top: 15px;
  position: relative;

  &:after,
  &::before {
    position: absolute;
    content: '';
    height: 18px;
    width: 6px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    z-index: 1;
  }

  &::before {
    inset-inline-start: 0;
    background-color: $greenColor;
  }
  
  &::after {
    inset-inline-end: 0;
    background-color: $mainRedColor;
  }
  
  .progress__ {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    border-radius: 5px;
    background-color: $greenColor;
    height: 100%;
    width: 0%;
  }
}