.rating_wrapper__ {
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 7px;
  margin: 0 auto;
  margin-bottom: 30px;
  width: fit-content;
  
  input[type="radio"] {
    appearance: none;
  }

  i {
    font-size: 3.4rem;
    transition: 0.3s;
    font-weight: 400 !important;
  }

  label {
    margin: 0 ;
    cursor: pointer;

    &:is(:hover , :has(~ :hover)) {
      i {
        // transform: scale(1.2);
        color: rgba(#fff , 0.5);
        font-weight: 900 !important;
      }
    }
    
    &:has(~ :checked) i {
      color: #fff;
      font-weight: 900 !important;
    }
  }
}