.subscription_date_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  @include xs {
    gap: 10px;
  }

  .date_title__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $headingMainColor;
    margin-bottom: 11px;
  }

  .date__ {
    font-size: 1.6rem;
    font-weight: 300;
    color: $headingMainColor;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 30px;

    .icon__ {
      max-width: 20px;
      max-height: 20px;
    }

    &.end_subscription_date__ {
      color: $mainRedColor;
    }
  }
}