.supplier_wrapper__ {
  display: flex;
  align-items: center;
  gap: 15px;

  .title__ {
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 700;
    color: $headingMainColor;
  }

  .location_wrapper {
    font-size: 1.6rem;
    font-weight: 400;
    color: $paragraphMainColor;
  }
}