.suppliers_card {
  padding: 36px 56px;
  border-radius: $mainBorderRadius;
  box-shadow: 0 0 30px rgba(#acacac , 0.16);

  .icon__ {
    max-width: 92px;
    max-height: 92px;
    margin-bottom: 15px;
  }

  .title__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $headingMainColor;
    margin-bottom: 15px;
    text-align: center;
  }

  .location_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 300;
    gap: 9px;
    margin-bottom: 15px;

    .icon__{
      margin: 0;
    }
  }
}