.suppliers_offer_card {
  border-radius: $mainBorderRadius;
  box-shadow: 0 0 30px rgba(#acacac , 0.1);
  padding: 30px 35px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .head_wrapper__ {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .title__ {
    font-size: 1.4rem !important;
    font-weight: 300 !important;
    color: $headingMainColor;
    margin-bottom: 10px !important;
  }

  .data__ {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.3rem;
    font-weight: light;
    color: $paragraphMainColor;

    .icon__ {
      max-width: 17px;
      min-width: 17px;
    }
  }
  
  .parag__ {
    font-size: 1.4rem;
    font-weight: 300;
    color: $paragraphMainColor;
  }

  .card_buttons {
    flex-shrink: 0;
    width: fit-content;
    min-width: 40%;

    &.fit_content_width__ {
      min-width: fit-content;
    }
  }
}
