.uploaded_file__ {
  background-color: $greyColor;
  border-radius: $mainBorderRadius;
  width: fit-content;
  min-width: 155px;
  padding: 10px 15px;
  height: fit-content;
  min-height: 41px;
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  .file_name__ {
    font-size: 1.2rem;
    font-weight: 400;
    color: $paragraphMainColor;
  }

  .button__ {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: -11px;
    border: 1px solid #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.uploadedImage {
    min-width: 61px;
    min-width: 61px;
    max-width: 61px;
    padding: 0;
    
    .figure__  {
      width: 100% ;
      border-radius: $mainBorderRadius;
      overflow: hidden;
      padding-bottom: 100%;
    }

    .button__ {
      top: unset;
      left: 50% !important;
      transform: translateX(-50%);
      inset-inline-end: unset;
      bottom: -13px;
    }
  }

  &.pdf_file {
    &::before {
      content: url(../images/shapes/uploaded_image_pdf_icon.svg);
      width: 20px;
      height: 20px;

    }
  }

}